.influencers-tab{
    background-color: rgb(255, 255, 255);
}
.banner{
    background-color: rgba(59, 124, 245, 0.235);
    color: rgb(6, 104, 189);
}
.nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(16, 75, 224);
}
.nav-link{
    color: rgb(255, 255, 255) !important;
    border: none !important;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.291) !important;
    /* bord */
    border-radius: 10px !important;
}
.nav-link:hover{
    color: #000 !important;
    background-color: aliceblue !important;
}
.nav-item .active{
    color: #000 !important;
    background-color: aliceblue !important;
}
.nav-item{
  text-align: center;
}